body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    background-position: center;
}

.result-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    /* Agrega un borde alrededor del resultado */
    border: 1px solid #ccc;
}

.error-message {
    color: #ff0000;
    font-weight: bold;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

